:root {
    /* COLORES */
    --color-amarillo : #EAC926;
    --color-azul : #03264c;
    --color-celeste : #1259C3;
    --color-grisOscuro : #666;
    --color-grisClaro : #ebebeb;
    --color-verde : #39b54a;
    /* FUENTES */
    --font-roboto : 'Roboto', sans-serif;
    /* Tamaños de fuentes */
    --paragraph : 12px;
    --title : 24px;
    --prices : 18px;
    --discounts-description : 16px;
}

/*********************/
/* ESTILOS GENERALES */
/*********************/

*{
    margin: 0;
    padding: 0;
}

a{
    color: black;
    text-decoration: none;
}

body{
    font-family: var(--font-roboto);
}

li{
    list-style: none;
}

/*************************/
/* FIN ESTILOS GENERALES */
/*************************/

/**********/
/* HEADER */
/**********/

header{
    background-color: var(--color-amarillo);
    font-size: var(--paragraph);
    padding-bottom: 10px;
    padding-top: 30px;
}

header .burger-menu{
    background-color: var(--color-celeste);
    border-radius: 5px;
    color: white;
    text-align: center;
    width: 15px;
    padding: 7px;
    font-size: 17px;
    margin: 10px auto 0;
}

img#logo{
    margin-left: 25px;
    width: 130px;
}

header .busqueda{
    margin-left: 25px;
}

header p{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

header nav .menu-top{
    margin-bottom: 20px;
}

/**************/
/* FIN HEADER */
/**************/

/**********/
/* FOOTER */
/**********/

footer {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
}

footer article {
    margin-bottom: 25px;
}

footer article p {
    font-size: var(--paragraph);
    width: 80%;
    margin: 0 auto;
}

footer article h4 {
    font-size: 14px;
}

footer article i {
    color: var(--color-celeste);
    font-size: 30px;
    margin-bottom: 20px;    
}

footer p#copyright{
    font-size: var(--paragraph);
    color: var(--color-grisOscuro);
    text-align: left;
    padding-left: 10px;
}

/**************/
/* FIN FOOTER */
/**************/